@media (min-width: 768px) {
  header {
    width: 680px;
    font-size: 32px;
  }

  main {
    margin: 0 auto;
    width: 680px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  header {
    width: 100%;
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  main {
    width: 100%;
  }
}

body {
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

a, a:visited {
	text-decoration: none;
  color: #DC143C;
}

header {
	margin: 0 auto;
  font-family: 'Orbitron', sans-serif;
}

header a, header a:visited {
	color: #444;
}

article {
  font-size: 18px;
  color: #444;
	line-height: 1.5em;
}

article sup {
  font-size: 8px;
}

article h1 {
	font-weight: 500;
	margin: 0px;
}

time {
	font-weight: 200;
  font-size: 16px;
  line-height: 1.5em;
}

.headline {
  font-size: 20px;
  vertical-align: top;
}

.headline time {
  font-weight: 300;
}

footer {
  min-height: 60px;
}

.dek {
  font-size: 14px;
  margin: 2px 0 10px 0;
  line-height: 22px;
}

.article_link {
  margin: 0 0 2em 0;
}

pre {
  overflow: auto;
  background-color: #eee;
  padding: 15px;
}
