@media (min-width: 768px) {
  header {
    margin-top: 40px;
    width: 680px;
    font-size: 40px;
  }

  main {
    margin: 0 auto;
    width: 680px;
  }

  pre {
    font-size: 15px;
  }

  article h1 {
    font-size: 2em;
    line-height: 1.3em;
  }

  footer div:first-child {
    float: left;
  }

  footer div:last-child {
    float: right;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  header {
    margin-top: 20px;
    width: 100%;
    font-size: 28px;
  }

  main {
    width: 100%;
  }

  pre {
    font-size: 13px;
  }

  article h1 {
    font-size: 1.7em;
    line-height: 1.3em;
  }

  footer div {
    text-align: center;
  }
}

@media (max-width: 340px) {
  header {
    font-size: 20px;
  }

  div.headline {
    font-size: 14px;
    vertical-align: top;
  }

  .headline time {
    font-size: 10px;
  }

  article h1 {
    font-size: 1.2em;
    line-height: 1.3em;
  }
}

body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  min-width: 320px;
}

a, a:visited {
  text-decoration: none;
  color: #43B3A2;
}

header {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Orbitron', 'Monaco', 'Courier New', Courier, monospace;
  background-color: #E86252;
  font-weight: bold;
  line-height: 1.5em;
}

header a, header a:visited {
  padding-left: 10px;
  color: #fff;
}

article {
  font-size: 18px;
  color: #444;
  line-height: 1.5em;
}

article h1 {
  font-family: 'Lora', Georgia, serif;
  font-weight: 500;
}

sup {
  line-height: 0;
  font-size: 75%;
}

time {
  font-weight: 200;
  line-height: 2em;
}

.headline {
  font-size: 22px;
  vertical-align: top;
}

.headline time {
  font-weight: 300;
}

footer {
  padding: 30px 0 60px 0;
  color: #aaa;
  font-size: 14px;
}

.dek {
  font-size: 14px;
  margin: 0 0 2em 0;
  line-height: 22px;
}

pre {
  overflow: auto;
  background-color: #eee;
  padding: 15px;
  line-height: 1.2em;
}

blockquote {
  margin-left: 3rem;
  font-weight: 400;
  font-style: italic;
  border-left: 8px solid rgba(52, 77, 92, 0.25);
  padding-left: 10px;
}
