{{ partial "header.html" . }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
      <div class="dek">{{ .Params.dek }}</div>
			<time>{{ .Date.Format "Monday, January 2, 2006" }}</time>
			<div>
				{{ .Content }}
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
      <footer>
        <div>
          <a href="https://twitter.com/jpignata">@jpignata</a> / 
          <a href="email:john@pignata.com?subject={{ .Title }}">john@pignata.com</a>
        </div>
        <div>Published on {{ .Date.Format "Monday, January 2, 2006 at 3:04pm" }}</div>
      </footer>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}
